---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Audiences from "../components/Audiences.astro";
import Features from "../components/Features.astro";
import Pricing from "../components/Pricing.astro";
import Municipios from "../components/Municipios.astro";
import Faq from "../components/Faq.astro";
import CtaFinal from "../components/CtaFinal.astro";
import Footer from "../components/Footer.astro";
---

<Layout>
  <Header />
  <main>
    <Audiences />
    <Features />
    <Pricing />
    <Municipios />
    <Faq />
    <CtaFinal />
  </main>
  <Footer />
</Layout>
